osource "c:/ouroboros-dev/boards/shields/*/Kconfig.shield"
osource "c:/ouroboros-dev/board_programs/blinky_1/boards/shields/*/Kconfig.shield"
osource "c:/ncs/v2.6.1/zephyr/samples/bluetooth/beacon/boards/shields/*/Kconfig.shield"
osource "c:/ncs/v2.6.1/nrf/samples/bluetooth/peripheral_uart/boards/shields/*/Kconfig.shield"
osource "C:/ncs/v2.6.1/nrf/boards/shields/*/Kconfig.shield"
