# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_OUROBOROS_V0_1_NRF52810

config BOARD
	default "ouroboros_v0_1_nrf52810"

config BT_CTLR
   default BT


endif
