# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52810_QFAA=y
CONFIG_BOARD_MICROMINUTES=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable GPIO
CONFIG_GPIO=y

# Enable 32KHz internal oscillator sine I don't have an external oscillator
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC_CALIBRATION=y

# Enable I2C
CONFIG_I2C=y

# RTC Emulation
CONFIG_RTC=y
CONFIG_RTC_EMUL=y
CONFIG_RTC_ALARM=y
CONFIG_RTC_CALIBRATION=y

